/* body */
* {
  font-family: sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
}

.container {
  flex: 1;
}

/* navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-suitcase-rolling {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* footer */

main {
  flex: 1;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-social {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}

.f-info-links {
  width: 100%;
  text-align: center;
}

.f-info {
  display: flex;
  background-color: #ebebeb;
  height: 8rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* listing */
.row {
  display: flex;
  flex-wrap: wrap;
}

.edit-img {
  width: 20rem;
  height: 15rem;
}

/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

.cardImg:hover {
  opacity: 0.7;
}

/* Add Listing Page */
.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* show page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

/* map */
#map {
  height: 400px;
  width: 80vh;
}

.signBtn  {
  margin-bottom: 8rem !important;
}

.loginBtn{
  margin-bottom:14rem !important;
}
